body{
    background-color: rgb(58, 55, 55);
}
.head{
    margin: auto;
    background-color: rgb(94, 59, 59);
    width: 40%;
}
.title{
    color: rgb(202, 191, 174);
    text-align: center;
}
li, a{
    color: rgb(223, 204, 204);
    font-size: 30px;
}

h1, h2, section{
    color:rgb(192, 185, 176);
    font-size: 50px;
    text-align: center;
}
h2{
    background-color: gray;
    border: 5px black solid;
}
.imageuno, .imagedos, .imagetres{
    width: 100px;
    height: 150px;
    margin: 50px;
}
label{
    color: rgb(134, 132, 128);
}
.box{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blanchedalmond;
    margin-left: auto;
    margin-right: auto;
}